---
---
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Pharmacy Helperbot</title>
  </head>
  <body style="font-family: system-ui; margin: 2rem;">
    <h1>💬 Pharmacy Helperbot</h1>
    <p>
      Welcome to our prototype! This chatbot will assist users with medication
      questions and order support.
    </p>

    <p>
      <a href="/stack">View Tech Stack</a> | 
      <a href="/chat">Try Demo Chat (coming soon)</a>
    </p>
  </body>
</html>


