---
import { fallbackMedications } from "../data/fallbackMedications";

let meds = [];

try {
    const response = await fetch("http://localhost:5000/api/medications");
    if(response.ok) {
        meds = await response.json();
    } else {
        throw new Error("API request failed");
    }
} catch {
    //fallback mock data
    meds = fallbackMedications;
}
---

<h1>Available Medications</h1>
<ul>
  {meds.map(m => <li><b>{m.name}</b>: {m.dosage}: {m.instructions}</li>)}
</ul>
